pandas==2.2.2
numpy==1.26.4
scipy==1.13.1
gymnasium
stable-baselines3[extra]
sb3-contrib
--extra-index-url https://download.pytorch.org/whl/cu118
torch 
torchvision
torchaudiImdsfasddzrhsdrhfsfddfhsdhfrdxfhiansjhgoapnsdgpoiandsgfdxhfdz   1453483cdg mnxi0-
